.git
.vscode
node_modules
**/node_modules
__pycache__
**/__pycache__
*.pyc
*.db-journal
*.broken.*
Thumbs.db
.DS_Store
~$*.docx
**/cloudflared.exe

01-项目资料
04-项目文献
05-组会谈话
06-归档杂项
note

02-数据库
*.zip
*.pdf
*.docx
*.xlsx
*.caj
